extends ../layout

append scripts
  script(src="{{ STATIC_URL }}js/index/campaign.js")

block body
  div#campaign
    div#header
      div.hero
        div.row
          div.title-container
            div.title
              div.row
                div.small-12.columns 
                  h1 Campaign Name
      div.organization-name
        div.row
          div.small-12.columns
            h3 Organization Name
      div.campaign-description
        div.row
          div.small-12.columns Campaign Description
      div.organization-info
        div.row
          div.small-12.medium-4.columns
            h3 Contact Us
          div.small-12.medium-4.columns
            h3 Mail-In Donation
          div.small-12.medium-4.columns
            h3 Org. Info
    div#content-container.row
      div.small-12.columns
        div.top.row
          div.small-12.medium-6.columns
            h3 Donations
          div.small-12.medium-3.columns
            a.view-inkind-btn.button.primary-button.radius.expand(href="javascript:;") View Monetary
          div.small-12.medium-3.columns
            a.view-inkind-btn.button.primary-button.radius.expand(href="javascript:;") View In-Kind
        div#monetary-donations.donation-type.row
          div.small-12.text-center.columns.title
            h3 Monetary Donations
        div.monetary-choices
          div.donation.row
            div.small-1.columns.container
              div.check
                div.check-inner
                  | &nbsp;
            div.small-7.columns.end
              div.row.name
                div.small-12.columns
                  h3 $5000 Sponsorship Tier
              div.row.description
                div.small-12.columns
                  | 10 Donations | 50% Open Rate | 10% Conversion Rate
          div.donation.row
            div.small-1.columns.container
              div.check
                div.check-inner
                  | &nbsp;
            div.small-7.columns.end
              div.row.name
                div.small-12.columns
                  h3 $2500 Sponsorship Tier
              div.row.description
                div.small-12.columns
                  | 10 Donations | 50% Open Rate | 10% Conversion Rate
        div#inkind-donations.donation-type.row
          div.small-12.text-center.columns.title
            h3 In-Kind Donations
        div.inkind-choices
          div.donation.row
            div.small-1.columns.container
              div.check
                div.check-inner
                  | &nbsp;
            div.small-11.columns.end
              div.row.name
                div.small-8.columns
                  h3 Gift Card
              div.row.description
                div.small-8.columns
                  | 10 Donations | 50% Open Rate | 10% Conversion Rate
              div.row.details.hide
                div.small-12.columns
                  div.row
                    div.note.small-12.medium-2.columns
                      label What will you donate?
                    div.small-12.medium-5.columns
                      input(type="text", name="description", placeholder="description")
                    div.small-12.medium-2.columns.end
                      a.button.secondary-button.expand.radius.cancel-donation-btn.small(href="javascript:;") Cancel
        