extends ../layout

block body
  div#campaign
    div#header
      div.hero
        div.row
          div.title-container
            div.title
              div.row
                div.small-12.columns 
                  h1 Campaign Name
      div.organization-name
        div.row
          div.small-12.columns
            h3 Organization Name
      div.campaign-description
        div.row
          div.small-12.columns Campaign Description
      div.organization-info
        div.row
          div.small-12.medium-4.columns
            h3 Contact Us
          div.small-12.medium-4.columns
            h3 Mail-In Donation
          div.small-12.medium-4.columns
            h3 Org. Info
    div#content-container.row
      div.small-12.columns
        | content
        