extends ../layout

block body
  div#dashboard
    div#content-container.row
      div.small-12.columns
        div#empty-campaign
          div.row
            div.container.small-12.medium-10.medium-offset-1.columns
              div.row
                div.small-12.medium-10.medium-offset-1.columns
                  h3.title Create Campaign
                  div.description
                    | Campaigns help you solicit sponsorships from stakeholders in your communities.
                  hr
              form(name="create_campaign")
                input(type="hidden", name="created_by", value="{{ request.user.id }}")
                div.row
                  div.small-12.medium-3.medium-offset-1.columns.info-title Campaign Name
                  div.small-12.medium-7.columns.end
                    input(type="text", name="name", placeholder="Keep it short and sweet!")
                div.row
                  div.small-12.medium-3.medium-offset-1.columns.info-title Description
                  div.small-12.medium-7.columns.end
                    textarea(name="description", placeholder="Description for Sponsors")
                div.row.complete
                  div.small-12.medium-3.medium-offset-4.columns
                    a.button.radius.secondary-button.expand(href="javascript:;") Cancel
                  div.small-12.medium-4.columns.end
                    a.create-campaign-btn.button.radius.primary-button.expand(href="javascript:;") Create Campaign
        div#campaigns
          div.row.campaign
            div.small-11.columns
              div.row
                div.small-12.columns.title 
                  h3 Campaign Name
              div.row
                div.small-12.columns.info 10 Donations | 50% Open Rate | 10% Conversion Rate
            div.small-1.columns
              img.open(src="{{ STATIC_URL }}images/arrow.png")