extends ../layout

block body
  div#login
    div#content-container.row
      div.small-12.columns
        div#login-container
          div.row
            div.container.small-12.medium-10.medium-offset-1.columns
              div.row
                div.small-12.medium-10.medium-offset-1.columns
                  h3.title Log In
                  hr
              div.row
                div.small-12.medium-3.medium-offset-1.columns Email
                div.small-12.medium-7.columns.end
                  input(type="text", name="name", placeholder="Email")
              div.row
                div.small-12.medium-3.medium-offset-1.columns Password
                div.small-12.medium-7.columns.end
                  input(type="password", name="name", placeholder="Password")
              div.row.complete
                div.small-12.medium-3.medium-offset-4.columns
                  a.button.radius.expand.primary-button.back-btn(href="{% url 'sponsorship:index' %}") Cancel
                div.small-12.medium-4.columns.end
                  a.button.radius.expand.secondary-button.login-btn(href="javascript:;") Login