doctype html
html
  head
    block head
      title
        block title
          | Blazon
      link(rel="stylesheet", type="text/css", href="//cloud.typography.com/7993072/607226/css/fonts.css")
      link(rel="stylesheet", href="{{ STATIC_URL }}css/blazon.css")
  body
    block nav
      div#nav.fixed.contain-to-grid
        nav.top-bar(data-topbar)
          ul.title-area
            li.name
              h1
                a(href="{% url 'sponsorship:index' %}") Blazon
          section.top-bar-section
            ul.right
              li
                a.create-campaign-start-btn(href="javascript:;") Create Campaign
    block create
      div#create-campaign
        form(name="create_campaign")
          div.row
            div.small-12.columns.title
              h3 Create a New Campaign
          div.row
            div.small-12.medium-6.columns
              label Campaign Name
              input(type="text", name="name", placeholder="Keep it short and sweet!")
            div.small-12.medium-6.columns
              label Campaign Description
              textarea(name="description", placeholder="Description for Sponsors")
              div.row
                div.small-12.medium-4.columns
                  a.button.radius.expand.secondary-button.cancel-campaign-start-btn Cancel
                div.small-12.medium-8.columns
                  a.button.radius.expand.primary-button Create Campaign

    block body
    div#scripts
      block scripts
        script(src="{{ STATIC_URL }}js/libraries.js")
        script(src="{{ STATIC_URL }}js/blazon.js")