doctype html
html(lang="en")
    head
        style(type="text/css").
            .clear {
                clear: both;
            }
            body {
                margin: 0;
                padding: 0;
                font-family: Helvetica, Arial, sans-serif;
            }
            #request {
                margin: 10px;
                padding: 20px;
                width: 600px;
                border: 1px solid #CCC;
            }
            #request div#logo{
                width: 100%;
                text-align:center;
            }
            #request div#logo img{
                height:60px;
            }
    body
        div#request
            div#logo
                img(src="{{ STATIC_URL }}images/logo.png")
            