doctype html
html(lang="en")
    head
        style(type="text/css").
            .clear {
                clear: both;
            }
            body {
                margin: 0;
                padding: 0;
                font-family: Helvetica, Arial, sans-serif;
            }
            #request {
                margin: 10px;
                padding: 20px;
                width: 600px;
                border: 1px solid #CCC;
            }
    body
        div#request
            | Request
            