@import (reference) "vars.less";

div#dashboard{
  color: @dark-brown;
  height:100%;
  div#content-container{
    background: #FFF;
    margin-top: 100px;
    margin-bottom: 60px;
    min-height: 100%;
    box-shadow: 0 0 5px @dark-brown;
    border-radius: 3px;
    overflow: hidden;
    div#empty-campaign{
      margin-top: 60px;
      margin-bottom: 60px;
      div.container{
        border-radius: 3px;
        border: @light-brown thin solid;
        padding-top: 60px;
        padding-bottom: 40px;
        .title{
          color: @dark-brown;
        }
        hr{
          color: @light-brown;
          background: @light-brown;
          height: 1px;
          border: none;
          margin-top: 20px;
          margin-bottom: 25px;
        }
      }
      div.complete{
        margin-top: 20px;
      }
    }
    div.new-campaign-dashboard{
      margin-top: 10px;
      textarea{
        min-height: 46px;
      }
      a{
        //display: none;
      }
    }
    div#campaigns{
      margin-top: 0px;
      div.campaign{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: @light-brown thin solid;
        cursor: pointer;
        transition: background .1s;
        &:hover{
          background: @light-brown-50;
        }
        &:first-child{
          padding-top: 20px;
          border-top: @light-brown thin solid;
        }
        img.open{
          margin-top: 5px;
        }
      }
    }
  }
}