@import (reference) "vars.less";

div#landing-nav{
	background: @light-brown-90 !important;
	nav.top-bar{
		height:66px;
		background: none;
		a, li{
			background: none !important;
		}
	  	.title-area {
	  		.name {
	  			h1 {
	  				a {
	  					img {
					  		height: 56px!important;
							padding-top: 12px!important;
					  	}
	  				}
	  			}
	  		}
	  	}
	  	.top-bar-section {
	  		ul {
	  			li {
	  				a {
	  					line-height: 66px;
	  				}
	  			}
	  		}
	  	}
	}
}

div#landing{
	.fullWidth {
		 width: 100%;
		 margin-left: auto;
		 margin-right: auto;
		 max-width: initial;
		 > div{
			padding-left: 0;
			padding-right: 0;
		 }
	}
	div#header{
		div.hero{
			height: 500px;
			overflow: hidden;
			background: url("/static/images/splash-top.jpg");
			background-size: cover;
			background-position: center center;
			div.tagline{
				color: #FFF;
				padding-top: 180px;
				text-align: center;
				h1{
					color: #FFF;
				}
			}
			div.register{
				padding-top: 80px;
				a{
					background: @red;
					color: #FFF;
					font-size: 20px;
					font-weight: 600;
					opacity: .8;
					transition: opacity .1s;
					&:hover{
						opacity: 1;
					}
				}
			}
		}
	}
	div#features{
		background: #FFF;
		#intro {
			text-align:center;
		}
		div.feature{
			padding-top: 40px;
			padding-bottom: 40px;
			border-bottom: @light-brown thin solid;
			&:last-child {
				border:none;
			}
			div.image{
				width: 100%;
				height: 200px;
				// border-radius: 100px;
				// background: @light-brown;
				text-align:center;
				img {
					max-height:100%;
					width:auto;
				}
			}
			div.description{
				padding-top:44px;
				color: @dark-brown;
				div.title{
					margin-bottom: 20px;
				}
				div.text{

				}
			}
		}
	}
	div#bottom-image{
		div.hero{
			height: 480px;
			overflow: hidden;
			background: url("/static/images/splash-bottom.jpg");
			background-size: cover;
			background-position: center bottom;
			div.tagline{
				color: #FFF;
				padding-top: 180px;
				text-align: center;
				h1{
					color: #FFF;
				}
			}
			div.register{
				padding-top: 80px;
				a{
					background: @red;
					color: #FFF;
					font-size: 20px;
					font-weight: 600;
					opacity: .8;
					transition: opacity .1s;
					&:hover{
						opacity: 1;
					}
				}
			}
		}
	}
	div#bottom{
		color: #FFF;
		background: @light-brown;
		padding-top: 60px;
		padding-bottom: 60px;
		line-height: 32pt;
		.feature {
			&:first-child{
				border-bottom:1px solid white;
				padding-bottom:1em;
				margin-bottom:2em;
			}
			h3 {
				color:white;
			}
			div.image{
				width: 100%;
				height: 120px;
				// border-radius: 100px;
				// background: @light-brown;
				text-align:center;
				img {
					max-height:100%;
					width:auto;
				}
			}
		}
	}
}